@model IEnumerable<HelloWorld.Models.Book>
@{
    ViewData["Title"] = "Список Книг";
}
<h3>Книги</h3>
<table class="table-condensed">
    <tr>
        <td>Название</td>
        <td>Автор</td>
        <td>Цена</td>
        <td></td>
    </tr>
    @foreach (var book in Model)
        {
        <tr>
            <td>@book.Name</td>
            <td>@book.Author</td>
            <td>@book.Price</td>
            <td><a href="~/Home/Buy/@book.Id">Купить</a></td>
        </tr>
    }
</table>